In [22]:
import pandas as pd
import numpy as np

In [23]:
pitching = pd.read_csv("Resources/pitching.csv")
pitching.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,bechtge01,1871,1,PH1,NaN,1,2,3,3,2,...,NaN,7,NaN,0,146.0,0,42,NaN,NaN,NaN
1,brainas01,1871,1,WS3,NaN,12,15,30,30,30,...,NaN,7,NaN,0,1291.0,0,292,NaN,NaN,NaN
2,fergubo01,1871,1,NY2,NaN,0,0,1,0,0,...,NaN,2,NaN,0,14.0,0,9,NaN,NaN,NaN
3,fishech01,1871,1,RC1,NaN,4,16,24,24,22,...,NaN,20,NaN,0,1080.0,1,257,NaN,NaN,NaN
4,fleetfr01,1871,1,NY2,NaN,0,1,1,1,1,...,NaN,0,NaN,0,57.0,0,21,NaN,NaN,NaN

In [24]:
pitching_year = pitching[pitching['yearID'] >= 1990]
pitching_year.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
27294,aasedo01,1990,1,LAN,NL,3,1,32,0,0,...,4.0,3,0.0,0,163.0,13,24,2.0,0.0,2.0
27295,abbotji01,1990,1,CAL,AL,10,14,33,33,4,...,6.0,4,5.0,3,925.0,0,116,9.0,6.0,27.0
27296,abbotpa01,1990,1,MIN,AL,0,5,7,7,0,...,0.0,1,1.0,0,162.0,0,24,1.0,1.0,4.0
27297,ackerji01,1990,1,TOR,AL,4,4,59,0,0,...,5.0,4,3.0,1,403.0,19,49,3.0,1.0,6.0
27298,adkinst01,1990,1,NYA,AL,1,2,5,5,0,...,0.0,2,0.0,0,115.0,0,18,1.0,1.0,3.0

In [25]:
#pitching_index = pitching_year.set_index(['playerID', 'yearID'])
#pitching_index.head()

In [26]:
#len(pitching_index.index)

In [27]:
pitching_year.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [28]:
pitching_newdf = pitching_year[['playerID', 'yearID', 'teamID', 'G', 'GS', 'H', 'R', 'ER', 'BB', 'SO', 'L','SV', 'W', 'BAOpp', 'ERA']]
pitching_newdf.head()

,playerID,yearID,teamID,G,GS,H,R,ER,BB,SO,L,SV,W,BAOpp,ERA
27294,aasedo01,1990,LAN,32,0,33,24,21,19,24,1,3,3,0.232,4.97
27295,abbotji01,1990,CAL,33,33,246,116,106,72,105,14,0,10,0.295,4.51
27296,abbotpa01,1990,MIN,7,7,37,24,23,28,25,5,0,0,0.282,5.97
27297,ackerji01,1990,TOR,59,0,103,49,39,30,54,4,1,4,0.281,3.83
27298,adkinst01,1990,NYA,5,5,19,18,17,29,14,2,0,1,0.226,6.38

In [29]:
pitching_newdf.dtypes

playerID     object
yearID        int64
teamID       object
G             int64
GS            int64
H             int64
R             int64
ER            int64
BB            int64
SO            int64
L             int64
SV            int64
W             int64
BAOpp       float64
ERA         float64
dtype: object

In [30]:
pitching_cleaned = pitching_newdf.dropna()
pitching_cleaned

,playerID,yearID,teamID,G,GS,H,R,ER,BB,SO,L,SV,W,BAOpp,ERA
27294,aasedo01,1990,LAN,32,0,33,24,21,19,24,1,3,3,0.232,4.97
27295,abbotji01,1990,CAL,33,33,246,116,106,72,105,14,0,10,0.295,4.51
27296,abbotpa01,1990,MIN,7,7,37,24,23,28,25,5,0,0,0.282,5.97
27297,ackerji01,1990,TOR,59,0,103,49,39,30,54,4,1,4,0.281,3.83
27298,adkinst01,1990,NYA,5,5,19,18,17,29,14,2,0,1,0.226,6.38
27299,agostju01,1990,HOU,82,0,91,46,44,39,50,8,4,9,0.261,4.29
27300,aguilri01,1990,MIN,56,0,55,27,20,19,61,3,32,5,0.224,2.76
27301,akerfda01,1990,PHI,71,0,65,45,39,54,42,2,3,5,0.201,3.77
27302,aldresc01,1990,DET,4,3,13,6,6,10,7,2,0,1,0.265,3.77
27303,aldrija01,1990,BAL,7,0,17,13,11,7,5,2,1,1,0.327,8.25
27304,alexage01,1990,TEX,3,2,14,6,6,5,8,0,0,0,0.438,7.71
27305,anderal02,1990,MIN,31,31,214,106,95,39,82,18,0,7,0.289,4.53
27306,anderla02,1990,HOU,50,0,61,19,16,24,68,2,6,5,0.229,1.95
27307,anderla02,1990,BOS,15,0,18,3,3,3,25,0,1,0,0.220,1.23
27308,andersc01,1990,MON,4,3,12,6,6,5,16,1,0,0,0.188,3.00
27309,appieke01,1990,KCA,32,24,179,67,57,54,127,8,0,12,0.252,2.76
27310,aquinlu01,1990,KCA,20,3,59,25,24,27,28,1,0,4,0.237,3.16
27311,armstja01,1990,CIN,29,27,151,72,63,59,110,9,0,12,0.242,3.42
27312,arnsbbr01,1990,TEX,53,0,56,20,15,33,44,1,5,6,0.235,2.15
27313,assenpa01,1990,CHN,74,1,90,33,32,36,95,2,10,7,0.239,2.80
27314,augusdo01,1990,ML4,5,0,13,10,8,5,2,3,0,0,0.295,6.55
27315,averyst01,1990,ATL,21,20,121,79,62,45,75,11,0,3,0.302,5.64
27316,bailesc01,1990,CAL,27,0,46,30,25,20,16,0,0,2,0.315,6.37
27317,bairdo01,1990,PIT,22,0,30,15,13,11,19,0,0,0,0.306,4.81
27318,ballaje01,1990,BAL,44,17,152,79,73,42,50,11,0,2,0.290,4.93
27319,balleja01,1990,KCA,3,0,4,4,4,2,1,1,0,0,0.364,15.43
27320,bankhsc01,1990,SEA,4,4,18,16,16,7,10,2,0,0,0.333,11.08
27321,barfijo01,1990,TEX,33,0,42,25,23,13,17,3,1,4,0.268,4.67
27322,barnebr01,1990,MON,4,4,25,10,9,7,23,1,0,1,0.236,2.89
27323,bautijo01,1990,BAL,22,0,28,15,12,7,15,0,0,1,0.272,4.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45776,wilsoju10,2017,DET,42,0,22,12,12,16,55,4,13,3,0.157,2.68
45777,wilsoju10,2017,CHN,23,0,18,11,10,19,25,0,0,1,0.254,5.09
45778,wilsoty01,2017,BAL,9,1,22,14,12,4,9,2,0,2,0.344,7.04
45779,wimmeal01,2017,MIN,6,0,8,4,4,8,7,0,0,0,0.267,4.91
45780,winklda01,2017,ATL,16,0,7,4,4,6,18,1,0,1,0.152,2.51
45781,wislema01,2017,ATL,20,1,43,31,30,13,22,1,0,0,0.323,8.35
45782,wittgni01,2017,MIA,38,0,46,22,22,13,43,1,0,3,0.277,4.68
45783,wojcias01,2017,CIN,25,8,71,48,45,19,64,3,0,4,0.287,6.50
45784,woodal02,2017,LAN,27,25,123,50,46,38,151,3,0,16,0.217,2.72
45785,woodbl01,2017,CIN,55,0,64,40,36,29,62,4,0,1,0.284,5.65
45786,woodbl01,2017,LAA,17,0,20,9,9,4,22,0,0,2,0.290,4.76
45787,woodhu01,2017,TBA,1,0,0,0,0,0,0,0,0,0,0.000,0.00
45788,woodrbr01,2017,MIL,8,8,43,23,23,14,32,3,0,2,0.259,4.81
45789,woodtr01,2017,KCA,28,3,56,33,32,20,29,3,0,1,0.329,6.91
45790,woodtr01,2017,SDN,11,11,62,44,39,25,36,4,0,3,0.295,6.71
45791,workmbr01,2017,BOS,33,0,37,17,14,11,37,1,0,1,0.252,3.18
45792,worleva01,2017,MIA,24,12,99,56,55,30,50,6,1,2,0.339,6.91
45793,wrighda04,2017,LAA,5,2,21,12,10,8,11,1,0,0,0.284,4.58
45794,wrighmi01,2017,BAL,13,0,26,16,16,7,28,0,0,0,0.265,5.76
45795,wrighst01,2017,BOS,5,5,40,24,22,5,13,3,0,1,0.377,8.25
45796,yacabji01,2017,BAL,14,0,18,10,10,14,8,0,0,2,0.247,4.35
45797,yateski01,2017,LAA,1,0,2,2,2,0,1,0,0,0,0.400,18.00
45798,yateski01,2017,SDN,61,0,42,26,23,19,87,5,1,4,0.206,3.72
45799,ynoaga01,2017,BAL,9,4,39,17,16,8,26,3,0,2,0.289,4.15
45800,ynoami01,2017,CHA,22,0,28,22,19,22,23,0,0,1,0.246,5.90
45801,youngch03,2017,KCA,14,2,47,27,25,14,22,0,0,0,0.353,7.50
45802,zastrro01,2017,CHN,4,0,19,13,12,7,11,0,0,0,0.352,8.31
45803,zieglbr01,2017,MIA,53,0,57,29,25,16,26,4,10,1,0.306,4.79
45804,zimmejo02,2017,DET,29,29,204,111,108,44,103,13,0,8,0.313,6.08
45805,zychto01,2017,SEA,45,0,30,12,12,21,35,3,1,6,0.208,2.66

In [31]:
pitching_cleaned.to_pickle('pitching_cleaned.pkl')