In [32]:
import pandas as pd
import numpy as np

In [33]:
salary = pd.read_csv("Resources/Salaries.csv")
salary.head()

   yearID teamID lgID   playerID  salary
0    1985    ATL   NL  barkele01  870000
1    1985    ATL   NL  bedrost01  550000
2    1985    ATL   NL  benedbr01  545000
3    1985    ATL   NL   campri01  633333
4    1985    ATL   NL  ceronri01  625000

In [34]:

salary_year = salary[salary['yearID'] >= 1990]
salary_year.head()

      yearID teamID lgID   playerID  salary
3289    1990    ATL   NL   bellmi01  100000
3290    1990    ATL   NL  blausje01  180000
3291    1990    ATL   NL  boevejo01  215000
3292    1990    ATL   NL  castito02  100000
3293    1990    ATL   NL  claryma01  125000

In [42]:
salary_year.dtypes

yearID       int64
teamID      object
lgID        object
playerID    object
salary       int64
dtype: object

In [36]:
pitching = pd.read_csv("Resources/pitching.csv")
pitching.tail(30)

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
45776,wilsoju10,2017,1,DET,AL,3,4,42,0,0,...,0.0,3,0.0,0,157.0,26,12,0.0,1.0,3.0
45777,wilsoju10,2017,2,CHN,NL,1,0,23,0,0,...,1.0,1,1.0,0,91.0,4,11,0.0,0.0,1.0
45778,wilsoty01,2017,1,BAL,AL,2,2,9,1,0,...,1.0,1,1.0,1,70.0,3,14,0.0,1.0,1.0
45779,wimmeal01,2017,1,MIN,AL,0,0,6,0,0,...,0.0,0,0.0,0,38.0,1,4,0.0,0.0,0.0
45780,winklda01,2017,1,ATL,NL,1,1,16,0,0,...,0.0,0,0.0,0,53.0,1,4,1.0,0.0,1.0
45781,wislema01,2017,1,ATL,NL,0,1,20,1,0,...,0.0,0,2.0,0,153.0,8,31,2.0,3.0,1.0
45782,wittgni01,2017,1,MIA,NL,3,1,38,0,0,...,1.0,2,0.0,0,182.0,3,22,0.0,3.0,1.0
45783,wojcias01,2017,1,CIN,NL,4,3,25,8,0,...,1.0,1,5.0,0,279.0,2,48,5.0,2.0,3.0
45784,woodal02,2017,1,LAN,NL,16,3,27,25,0,...,6.0,2,6.0,0,614.0,0,50,4.0,0.0,10.0
45785,woodbl01,2017,1,CIN,NL,1,4,55,0,0,...,1.0,6,1.0,2,259.0,17,40,0.0,4.0,5.0
45786,woodbl01,2017,2,LAA,AL,2,0,17,0,0,...,1.0,1,0.0,0,73.0,2,9,0.0,0.0,0.0
45787,woodhu01,2017,1,TBA,AL,0,0,1,0,0,...,0.0,0,0.0,0,1.0,1,0,0.0,0.0,0.0
45788,woodrbr01,2017,1,MIL,NL,2,3,8,8,0,...,1.0,0,3.0,0,184.0,0,23,1.0,0.0,2.0
45789,woodtr01,2017,1,KCA,AL,1,3,28,3,0,...,0.0,1,1.0,0,195.0,10,33,0.0,4.0,5.0
45790,woodtr01,2017,2,SDN,NL,3,4,11,11,0,...,0.0,0,1.0,0,241.0,0,44,4.0,1.0,6.0
45791,workmbr01,2017,1,BOS,AL,1,1,33,0,0,...,2.0,1,1.0,0,162.0,8,17,2.0,1.0,5.0
45792,worleva01,2017,1,MIA,NL,2,6,24,12,0,...,5.0,1,6.0,0,333.0,8,56,2.0,3.0,15.0
45793,wrighda04,2017,1,LAA,AL,0,1,5,2,0,...,0.0,1,2.0,0,85.0,3,12,1.0,0.0,3.0
45794,wrighmi01,2017,1,BAL,AL,0,0,13,0,0,...,0.0,1,3.0,0,109.0,4,16,0.0,1.0,2.0
45795,wrighst01,2017,1,BOS,AL,1,3,5,5,0,...,1.0,1,2.0,0,114.0,0,24,0.0,1.0,5.0
45796,yacabji01,2017,1,BAL,AL,2,0,14,0,0,...,1.0,1,0.0,0,90.0,7,10,0.0,3.0,4.0
45797,yateski01,2017,1,LAA,AL,0,0,1,0,0,...,0.0,0,0.0,0,5.0,0,2,0.0,0.0,0.0
45798,yateski01,2017,2,SDN,NL,4,5,61,0,0,...,2.0,0,2.0,1,226.0,12,26,0.0,1.0,2.0
45799,ynoaga01,2017,1,BAL,AL,2,3,9,4,0,...,0.0,0,1.0,0,147.0,2,17,1.0,2.0,5.0
45800,ynoami01,2017,1,CHA,AL,1,0,22,0,0,...,0.0,3,5.0,0,141.0,10,22,0.0,0.0,2.0
45801,youngch03,2017,1,KCA,AL,0,0,14,2,0,...,2.0,1,1.0,0,148.0,5,27,0.0,0.0,3.0
45802,zastrro01,2017,1,CHN,NL,0,0,4,0,0,...,0.0,0,1.0,0,62.0,0,13,0.0,0.0,3.0
45803,zieglbr01,2017,1,MIA,NL,1,4,53,0,0,...,6.0,1,6.0,0,211.0,21,29,3.0,0.0,10.0
45804,zimmejo02,2017,1,DET,AL,8,13,29,29,0,...,2.0,3,7.0,0,713.0,0,111,3.0,8.0,19.0
45805,zychto01,2017,1,SEA,AL,6,3,45,0,0,...,3.0,1,5.0,1,173.0,7,12,1.0,2.0,5.0

In [37]:
pitching_year = pitching[pitching['yearID'] >= 1990]
pitching_year.head()

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
27294,aasedo01,1990,1,LAN,NL,3,1,32,0,0,...,4.0,3,0.0,0,163.0,13,24,2.0,0.0,2.0
27295,abbotji01,1990,1,CAL,AL,10,14,33,33,4,...,6.0,4,5.0,3,925.0,0,116,9.0,6.0,27.0
27296,abbotpa01,1990,1,MIN,AL,0,5,7,7,0,...,0.0,1,1.0,0,162.0,0,24,1.0,1.0,4.0
27297,ackerji01,1990,1,TOR,AL,4,4,59,0,0,...,5.0,4,3.0,1,403.0,19,49,3.0,1.0,6.0
27298,adkinst01,1990,1,NYA,AL,1,2,5,5,0,...,0.0,2,0.0,0,115.0,0,18,1.0,1.0,3.0

In [38]:
pitching_year.columns

Index(['playerID', 'yearID', 'stint', 'teamID', 'lgID', 'W', 'L', 'G', 'GS',
       'CG', 'SHO', 'SV', 'IPouts', 'H', 'ER', 'HR', 'BB', 'SO', 'BAOpp',
       'ERA', 'IBB', 'WP', 'HBP', 'BK', 'BFP', 'GF', 'R', 'SH', 'SF', 'GIDP'],
      dtype='object')

In [39]:
pitching_newdf = pitching_year[['playerID', 'yearID', 'teamID', 'G', 'GS', 'H', 'R', 'ER', 'BB', 'SO', 'L','SV', 'W', 'BAOpp', 'ERA']]
pitching_newdf.head()

,playerID,yearID,teamID,G,GS,H,R,ER,BB,SO,L,SV,W,BAOpp,ERA
27294,aasedo01,1990,LAN,32,0,33,24,21,19,24,1,3,3,0.232,4.97
27295,abbotji01,1990,CAL,33,33,246,116,106,72,105,14,0,10,0.295,4.51
27296,abbotpa01,1990,MIN,7,7,37,24,23,28,25,5,0,0,0.282,5.97
27297,ackerji01,1990,TOR,59,0,103,49,39,30,54,4,1,4,0.281,3.83
27298,adkinst01,1990,NYA,5,5,19,18,17,29,14,2,0,1,0.226,6.38

In [41]:
pitching_newdf.dtypes

playerID     object
yearID        int64
teamID       object
G             int64
GS            int64
H             int64
R             int64
ER            int64
BB            int64
SO            int64
L             int64
SV            int64
W             int64
BAOpp       float64
ERA         float64
dtype: object

In [40]:
salary_pitching = pd.merge(salary_year, pitching_year, on='playerID')
salary_pitching

,yearID_x,teamID_x,lgID_x,playerID,salary,yearID_y,stint,teamID_y,lgID_y,W,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,1990,ATL,NL,boevejo01,215000,1990,1,ATL,NL,1,...,10.0,2,0.0,0,198.0,21,23,2.0,2.0,2.0
1,1990,ATL,NL,boevejo01,215000,1990,2,PHI,NL,2,...,2.0,1,0.0,2,190.0,13,12,2.0,0.0,2.0
2,1990,ATL,NL,boevejo01,215000,1991,1,PHI,NL,3,...,11.0,6,0.0,1,431.0,27,45,3.0,6.0,2.0
3,1990,ATL,NL,boevejo01,215000,1992,1,HOU,NL,3,...,9.0,4,4.0,0,479.0,26,38,10.0,4.0,7.0
4,1990,ATL,NL,boevejo01,215000,1993,1,OAK,AL,4,...,4.0,1,4.0,0,353.0,19,40,2.0,3.0,8.0
5,1990,ATL,NL,boevejo01,215000,1993,2,DET,AL,2,...,3.0,0,0.0,0,96.0,3,10,3.0,4.0,0.0
6,1990,ATL,NL,boevejo01,215000,1994,1,DET,AL,9,...,12.0,4,2.0,0,349.0,27,40,4.0,2.0,8.0
7,1990,ATL,NL,boevejo01,215000,1995,1,DET,AL,5,...,12.0,1,3.0,1,463.0,27,74,7.0,8.0,7.0
8,1990,ATL,NL,boevejo01,215000,1996,1,PIT,NL,0,...,0.0,3,1.0,0,68.0,9,11,2.0,0.0,0.0
9,1991,PHI,NL,boevejo01,725000,1990,1,ATL,NL,1,...,10.0,2,0.0,0,198.0,21,23,2.0,2.0,2.0
10,1991,PHI,NL,boevejo01,725000,1990,2,PHI,NL,2,...,2.0,1,0.0,2,190.0,13,12,2.0,0.0,2.0
11,1991,PHI,NL,boevejo01,725000,1991,1,PHI,NL,3,...,11.0,6,0.0,1,431.0,27,45,3.0,6.0,2.0
12,1991,PHI,NL,boevejo01,725000,1992,1,HOU,NL,3,...,9.0,4,4.0,0,479.0,26,38,10.0,4.0,7.0
13,1991,PHI,NL,boevejo01,725000,1993,1,OAK,AL,4,...,4.0,1,4.0,0,353.0,19,40,2.0,3.0,8.0
14,1991,PHI,NL,boevejo01,725000,1993,2,DET,AL,2,...,3.0,0,0.0,0,96.0,3,10,3.0,4.0,0.0
15,1991,PHI,NL,boevejo01,725000,1994,1,DET,AL,9,...,12.0,4,2.0,0,349.0,27,40,4.0,2.0,8.0
16,1991,PHI,NL,boevejo01,725000,1995,1,DET,AL,5,...,12.0,1,3.0,1,463.0,27,74,7.0,8.0,7.0
17,1991,PHI,NL,boevejo01,725000,1996,1,PIT,NL,0,...,0.0,3,1.0,0,68.0,9,11,2.0,0.0,0.0
18,1992,HOU,NL,boevejo01,725000,1990,1,ATL,NL,1,...,10.0,2,0.0,0,198.0,21,23,2.0,2.0,2.0
19,1992,HOU,NL,boevejo01,725000,1990,2,PHI,NL,2,...,2.0,1,0.0,2,190.0,13,12,2.0,0.0,2.0
20,1992,HOU,NL,boevejo01,725000,1991,1,PHI,NL,3,...,11.0,6,0.0,1,431.0,27,45,3.0,6.0,2.0
21,1992,HOU,NL,boevejo01,725000,1992,1,HOU,NL,3,...,9.0,4,4.0,0,479.0,26,38,10.0,4.0,7.0
22,1992,HOU,NL,boevejo01,725000,1993,1,OAK,AL,4,...,4.0,1,4.0,0,353.0,19,40,2.0,3.0,8.0
23,1992,HOU,NL,boevejo01,725000,1993,2,DET,AL,2,...,3.0,0,0.0,0,96.0,3,10,3.0,4.0,0.0
24,1992,HOU,NL,boevejo01,725000,1994,1,DET,AL,9,...,12.0,4,2.0,0,349.0,27,40,4.0,2.0,8.0
25,1992,HOU,NL,boevejo01,725000,1995,1,DET,AL,5,...,12.0,1,3.0,1,463.0,27,74,7.0,8.0,7.0
26,1992,HOU,NL,boevejo01,725000,1996,1,PIT,NL,0,...,0.0,3,1.0,0,68.0,9,11,2.0,0.0,0.0
27,1993,DET,AL,boevejo01,109000,1990,1,ATL,NL,1,...,10.0,2,0.0,0,198.0,21,23,2.0,2.0,2.0
28,1993,DET,AL,boevejo01,109000,1990,2,PHI,NL,2,...,2.0,1,0.0,2,190.0,13,12,2.0,0.0,2.0
29,1993,DET,AL,boevejo01,109000,1991,1,PHI,NL,3,...,11.0,6,0.0,1,431.0,27,45,3.0,6.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113514,2016,TBA,AL,whitlch01,524525,2015,1,NYA,AL,1,...,0.0,2,2.0,0,84.0,0,9,0.0,0.0,0.0
113515,2016,TBA,AL,whitlch01,524525,2016,1,TBA,AL,0,...,0.0,0,0.0,0,61.0,0,7,0.0,0.0,0.0
113516,2016,TBA,AL,whitlch01,524525,2017,1,TBA,AL,2,...,2.0,2,3.0,0,238.0,12,29,1.0,2.0,3.0
113517,2016,TEX,AL,barneto01,1500000,2016,1,TEX,AL,7,...,1.0,6,4.0,0,246.0,9,16,1.0,2.0,10.0
113518,2016,TEX,AL,barneto01,1500000,2017,1,TEX,AL,2,...,4.0,4,2.0,0,252.0,7,36,0.0,6.0,7.0
113519,2016,TEX,AL,faulkan01,508500,2015,1,TEX,AL,0,...,1.0,0,0.0,0,40.0,1,3,0.0,0.0,1.0
113520,2016,TEX,AL,faulkan01,508500,2016,1,TEX,AL,0,...,1.0,2,0.0,0,32.0,1,7,0.0,0.0,1.0
113521,2016,TEX,AL,jackslu01,508500,2015,1,TEX,AL,0,...,0.0,1,0.0,0,27.0,4,3,0.0,0.0,0.0
113522,2016,TEX,AL,jackslu01,508500,2016,1,TEX,AL,0,...,0.0,0,0.0,0,62.0,2,14,0.0,1.0,2.0
113523,2016,TEX,AL,jackslu01,508500,2017,1,ATL,NL,2,...,4.0,4,4.0,0,224.0,17,26,1.0,2.0,2.0
113524,2016,TEX,AL,kelake01,518000,2015,1,TEX,AL,7,...,0.0,6,0.0,1,243.0,11,18,1.0,0.0,8.0
113525,2016,TEX,AL,kelake01,518000,2016,1,TEX,AL,5,...,0.0,2,3.0,1,150.0,2,23,2.0,1.0,4.0
113526,2016,TEX,AL,kelake01,518000,2017,1,TEX,AL,4,...,1.0,1,1.0,1,151.0,13,12,0.0,0.0,0.0
113527,2016,TOR,AL,biagijo01,507500,2016,1,TOR,AL,4,...,1.0,3,5.0,0,295.0,12,28,2.0,3.0,4.0
113528,2016,TOR,AL,biagijo01,507500,2017,1,TOR,AL,3,...,0.0,6,2.0,0,517.0,3,78,0.0,2.0,8.0
113529,2016,TOR,AL,leonar01,510500,2015,1,OAK,AL,0,...,3.0,0,0.0,0,115.0,9,14,1.0,2.0,3.0
113530,2016,TOR,AL,leonar01,510500,2016,1,TOR,AL,0,...,0.0,0,0.0,0,11.0,0,2,0.0,0.0,0.0
113531,2016,TOR,AL,osunaro01,516100,2015,1,TOR,AL,1,...,2.0,5,1.0,0,271.0,39,21,1.0,2.0,3.0
113532,2016,TOR,AL,osunaro01,516100,2016,1,TOR,AL,4,...,4.0,4,3.0,1,288.0,61,23,1.0,3.0,4.0
113533,2016,TOR,AL,osunaro01,516100,2017,1,TOR,AL,3,...,0.0,4,3.0,0,249.0,58,26,1.0,2.0,4.0
113534,2016,TOR,AL,schulbo02,513300,2014,1,ARI,NL,0,...,1.0,0,0.0,0,36.0,3,7,0.0,1.0,2.0
113535,2016,TOR,AL,schulbo02,513300,2015,1,TOR,AL,0,...,0.0,2,1.0,0,173.0,10,19,0.0,2.0,5.0
113536,2016,TOR,AL,schulbo02,513300,2016,1,TOR,AL,0,...,0.0,0,0.0,0,68.0,8,10,0.0,1.0,1.0
113537,2016,WAS,NL,riverfe01,516100,2015,1,WAS,NL,2,...,2.0,2,1.0,1,189.0,17,15,0.0,1.0,2.0
113538,2016,WAS,NL,riverfe01,516100,2016,1,WAS,NL,0,...,2.0,1,5.0,0,203.0,8,26,0.0,1.0,8.0
113539,2016,WAS,NL,riverfe01,516100,2016,2,PIT,NL,1,...,1.0,2,1.0,0,124.0,3,13,0.0,1.0,1.0
113540,2016,WAS,NL,riverfe01,516100,2017,1,PIT,NL,5,...,0.0,2,4.0,1,300.0,40,19,0.0,1.0,2.0
113541,2016,WAS,NL,rossjo01,514400,2015,1,WAS,NL,5,...,0.0,1,2.0,0,314.0,1,33,3.0,1.0,2.0
113542,2016,WAS,NL,rossjo01,514400,2016,1,WAS,NL,7,...,3.0,2,6.0,0,447.0,0,43,7.0,3.0,10.0
113543,2016,WAS,NL,rossjo01,514400,2017,1,WAS,NL,5,...,2.0,2,1.0,0,323.0,0,44,5.0,0.0,7.0